<a href="https://colab.research.google.com/github/D-kn/Big-Data-Projects/blob/main/1_pyspark_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 44 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 66.6 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=cc489a7660058a78b37b0f0413fc9630f560d7263b166b47861e0168fc086f45
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [3]:
# mount drive
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
cd '/content/drive/My Drive/Projets Codes/Datasets'

/content/drive/My Drive/Projets Codes/Datasets

In [36]:
# Imports
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType

# Pyspark DataFrame

In [8]:
spark=SparkSession.builder.appName('DataFrame').getOrCreate()

In [9]:
spark

# Reading Dataset

In [12]:
df_pyspark = spark.read.option('header', 'true').csv('adult_dataset.csv')
df_pyspark

DataFrame[age: string, workclass: string, fnlwgt: string, education: string, educational-num: string, marital-status: string, occupation: string, relationship: string, race: string, gender: string, capital-gain: string, capital-loss: string, hours-per-week: string, native-country: string, income: string]

In [13]:
df_pyspark.show()

+---+----------------+------+------------+---------------+------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+
|age|       workclass|fnlwgt|   education|educational-num|    marital-status|       occupation| relationship|              race|gender|capital-gain|capital-loss|hours-per-week|native-country|income|
+---+----------------+------+------------+---------------+------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+
| 25|         Private|226802|        11th|              7|     Never-married|Machine-op-inspct|    Own-child|             Black|  Male|           0|           0|            40| United-States| <=50K|
| 38|         Private| 89814|     HS-grad|              9|Married-civ-spouse|  Farming-fishing|      Husband|             White|  Male|           0|           0|            50| United-States| <=50K|
| 28|       Local-gov|336951|  Assoc-acdm|             12|Married-civ-spouse|  Protective-serv|      Husband|             White|  Male|           0|           0|            40| United-States|  >50K|
| 44|         Private|160323|Some-college|             10|Married-civ-spouse|Machine-op-inspct|      Husband|             Black|  Male|        7688|           0|            40| United-States|  >50K|
| 18|               ?|103497|Some-college|             10|     Never-married|                ?|    Own-child|             White|Female|           0|           0|            30| United-States| <=50K|
| 34|         Private|198693|        10th|              6|     Never-married|    Other-service|Not-in-family|             White|  Male|           0|           0|            30| United-States| <=50K|
| 29|               ?|227026|     HS-grad|              9|     Never-married|                ?|    Unmarried|             Black|  Male|           0|           0|            40| United-States| <=50K|
| 63|Self-emp-not-inc|104626| Prof-school|             15|Married-civ-spouse|   Prof-specialty|      Husband|             White|  Male|        3103|           0|            32| United-States|  >50K|
| 24|         Private|369667|Some-college|             10|     Never-married|    Other-service|    Unmarried|             White|Female|           0|           0|            40| United-States| <=50K|
| 55|         Private|104996|     7th-8th|              4|Married-civ-spouse|     Craft-repair|      Husband|             White|  Male|           0|           0|            10| United-States| <=50K|
| 65|         Private|184454|     HS-grad|              9|Married-civ-spouse|Machine-op-inspct|      Husband|             White|  Male|        6418|           0|            40| United-States|  >50K|
| 36|     Federal-gov|212465|   Bachelors|             13|Married-civ-spouse|     Adm-clerical|      Husband|             White|  Male|           0|           0|            40| United-States| <=50K|
| 26|         Private| 82091|     HS-grad|              9|     Never-married|     Adm-clerical|Not-in-family|             White|Female|           0|           0|            39| United-States| <=50K|
| 58|               ?|299831|     HS-grad|              9|Married-civ-spouse|                ?|      Husband|             White|  Male|           0|           0|            35| United-States| <=50K|
| 48|         Private|279724|     HS-grad|              9|Married-civ-spouse|Machine-op-inspct|      Husband|             White|  Male|        3103|           0|            48| United-States|  >50K|
| 43|         Private|346189|     Masters|             14|Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|           0|           0|            50| United-States|  >50K|
| 20|       State-gov|444554|Some-college|             10|     Never-married|    Other-service|    Own-child|             White|  Male|           0|           0|            25| United-States| <=50K|
| 43|         Private|128354|     HS-grad|              9|Married-civ-spouse|     Adm-clerical|         Wife|             White|Female|           0|           0|            30| United-States| <=50K|
| 37|         Private| 60548|     HS-grad|              9|           Widowed|Machine-op-inspct|    Unmarried|             White|Female|           0|           0|            20| United-States| <=50K|
| 40|         Private| 85019|   Doctorate|             16|Married-civ-spouse|   Prof-specialty|      Husband|Asian-Pac-Islander|  Male|           0|           0|            45|             ?|  >50K|
+---+----------------+------+------------+---------------+------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+
only showing top 20 rows

# Schema (Checking the Datatypes of the column)

In [14]:
df_pyspark.printSchema()

root
 |-- age: string (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: string (nullable = true)
 |-- education: string (nullable = true)
 |-- educational-num: string (nullable = true)
 |-- marital-status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- capital-gain: string (nullable = true)
 |-- capital-loss: string (nullable = true)
 |-- hours-per-week: string (nullable = true)
 |-- native-country: string (nullable = true)
 |-- income: string (nullable = true)

In [16]:
# schema mode option
df_pyspark = spark.read.option('header', 'true').csv('adult_dataset.csv', inferSchema=True)

In [17]:
df_pyspark.printSchema()

root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: integer (nullable = true)
 |-- education: string (nullable = true)
 |-- educational-num: integer (nullable = true)
 |-- marital-status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- capital-gain: integer (nullable = true)
 |-- capital-loss: integer (nullable = true)
 |-- hours-per-week: integer (nullable = true)
 |-- native-country: string (nullable = true)
 |-- income: string (nullable = true)

In [19]:
df_pyspark=spark.read.csv('adult_dataset.csv', header=True, inferSchema=True)
df_pyspark.show()

+---+----------------+------+------------+---------------+------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+
|age|       workclass|fnlwgt|   education|educational-num|    marital-status|       occupation| relationship|              race|gender|capital-gain|capital-loss|hours-per-week|native-country|income|
+---+----------------+------+------------+---------------+------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+
| 25|         Private|226802|        11th|              7|     Never-married|Machine-op-inspct|    Own-child|             Black|  Male|           0|           0|            40| United-States| <=50K|
| 38|         Private| 89814|     HS-grad|              9|Married-civ-spouse|  Farming-fishing|      Husband|             White|  Male|           0|           0|            50| United-States| <=50K|
| 28|       Local-gov|336951|  Assoc-acdm|             12|Married-civ-spouse|  Protective-serv|      Husband|             White|  Male|           0|           0|            40| United-States|  >50K|
| 44|         Private|160323|Some-college|             10|Married-civ-spouse|Machine-op-inspct|      Husband|             Black|  Male|        7688|           0|            40| United-States|  >50K|
| 18|               ?|103497|Some-college|             10|     Never-married|                ?|    Own-child|             White|Female|           0|           0|            30| United-States| <=50K|
| 34|         Private|198693|        10th|              6|     Never-married|    Other-service|Not-in-family|             White|  Male|           0|           0|            30| United-States| <=50K|
| 29|               ?|227026|     HS-grad|              9|     Never-married|                ?|    Unmarried|             Black|  Male|           0|           0|            40| United-States| <=50K|
| 63|Self-emp-not-inc|104626| Prof-school|             15|Married-civ-spouse|   Prof-specialty|      Husband|             White|  Male|        3103|           0|            32| United-States|  >50K|
| 24|         Private|369667|Some-college|             10|     Never-married|    Other-service|    Unmarried|             White|Female|           0|           0|            40| United-States| <=50K|
| 55|         Private|104996|     7th-8th|              4|Married-civ-spouse|     Craft-repair|      Husband|             White|  Male|           0|           0|            10| United-States| <=50K|
| 65|         Private|184454|     HS-grad|              9|Married-civ-spouse|Machine-op-inspct|      Husband|             White|  Male|        6418|           0|            40| United-States|  >50K|
| 36|     Federal-gov|212465|   Bachelors|             13|Married-civ-spouse|     Adm-clerical|      Husband|             White|  Male|           0|           0|            40| United-States| <=50K|
| 26|         Private| 82091|     HS-grad|              9|     Never-married|     Adm-clerical|Not-in-family|             White|Female|           0|           0|            39| United-States| <=50K|
| 58|               ?|299831|     HS-grad|              9|Married-civ-spouse|                ?|      Husband|             White|  Male|           0|           0|            35| United-States| <=50K|
| 48|         Private|279724|     HS-grad|              9|Married-civ-spouse|Machine-op-inspct|      Husband|             White|  Male|        3103|           0|            48| United-States|  >50K|
| 43|         Private|346189|     Masters|             14|Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|           0|           0|            50| United-States|  >50K|
| 20|       State-gov|444554|Some-college|             10|     Never-married|    Other-service|    Own-child|             White|  Male|           0|           0|            25| United-States| <=50K|
| 43|         Private|128354|     HS-grad|              9|Married-civ-spouse|     Adm-clerical|         Wife|             White|Female|           0|           0|            30| United-States| <=50K|
| 37|         Private| 60548|     HS-grad|              9|           Widowed|Machine-op-inspct|    Unmarried|             White|Female|           0|           0|            20| United-States| <=50K|
| 40|         Private| 85019|   Doctorate|             16|Married-civ-spouse|   Prof-specialty|      Husband|Asian-Pac-Islander|  Male|           0|           0|            45|             ?|  >50K|
+---+----------------+------+------------+---------------+------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+
only showing top 20 rows

In [20]:
df_pyspark.printSchema()

root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: integer (nullable = true)
 |-- education: string (nullable = true)
 |-- educational-num: integer (nullable = true)
 |-- marital-status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- capital-gain: integer (nullable = true)
 |-- capital-loss: integer (nullable = true)
 |-- hours-per-week: integer (nullable = true)
 |-- native-country: string (nullable = true)
 |-- income: string (nullable = true)

In [21]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

# Selecting Columns and Indexing

In [22]:
df_pyspark.columns

['age',
 'workclass',
 'fnlwgt',
 'education',
 'educational-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'gender',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country',
 'income']

In [24]:
df_pyspark.head(2)

[Row(age=25, workclass='Private', fnlwgt=226802, education='11th', educational-num=7, marital-status='Never-married', occupation='Machine-op-inspct', relationship='Own-child', race='Black', gender='Male', capital-gain=0, capital-loss=0, hours-per-week=40, native-country='United-States', income='<=50K'),
 Row(age=38, workclass='Private', fnlwgt=89814, education='HS-grad', educational-num=9, marital-status='Married-civ-spouse', occupation='Farming-fishing', relationship='Husband', race='White', gender='Male', capital-gain=0, capital-loss=0, hours-per-week=50, native-country='United-States', income='<=50K')]

In [29]:
# pick up a column
df_pyspark.select('occupation').show()

+-----------------+
|       occupation|
+-----------------+
|Machine-op-inspct|
|  Farming-fishing|
|  Protective-serv|
|Machine-op-inspct|
|                ?|
|    Other-service|
|                ?|
|   Prof-specialty|
|    Other-service|
|     Craft-repair|
|Machine-op-inspct|
|     Adm-clerical|
|     Adm-clerical|
|                ?|
|Machine-op-inspct|
|  Exec-managerial|
|    Other-service|
|     Adm-clerical|
|Machine-op-inspct|
|   Prof-specialty|
+-----------------+
only showing top 20 rows

In [32]:
# show multiple column
df_pyspark.select(['occupation', 'native-country', 'education']).show()

+-----------------+--------------+------------+
|       occupation|native-country|   education|
+-----------------+--------------+------------+
|Machine-op-inspct| United-States|        11th|
|  Farming-fishing| United-States|     HS-grad|
|  Protective-serv| United-States|  Assoc-acdm|
|Machine-op-inspct| United-States|Some-college|
|                ?| United-States|Some-college|
|    Other-service| United-States|        10th|
|                ?| United-States|     HS-grad|
|   Prof-specialty| United-States| Prof-school|
|    Other-service| United-States|Some-college|
|     Craft-repair| United-States|     7th-8th|
|Machine-op-inspct| United-States|     HS-grad|
|     Adm-clerical| United-States|   Bachelors|
|     Adm-clerical| United-States|     HS-grad|
|                ?| United-States|     HS-grad|
|Machine-op-inspct| United-States|     HS-grad|
|  Exec-managerial| United-States|     Masters|
|    Other-service| United-States|Some-college|
|     Adm-clerical| United-States|     HS-grad|
|Machine-op-inspct| United-States|     HS-grad|
|   Prof-specialty|             ?|   Doctorate|
+-----------------+--------------+------------+
only showing top 20 rows

In [33]:
# check data type
df_pyspark.dtypes

[('age', 'int'),
 ('workclass', 'string'),
 ('fnlwgt', 'int'),
 ('education', 'string'),
 ('educational-num', 'int'),
 ('marital-status', 'string'),
 ('occupation', 'string'),
 ('relationship', 'string'),
 ('race', 'string'),
 ('gender', 'string'),
 ('capital-gain', 'int'),
 ('capital-loss', 'int'),
 ('hours-per-week', 'int'),
 ('native-country', 'string'),
 ('income', 'string')]

# Describe Method (like in pandas)

In [35]:
# df_pyspark.describe()
df_pyspark.describe().show()

+-------+------------------+-----------+------------------+------------+------------------+--------------+----------------+------------+------------------+------+------------------+-----------------+------------------+--------------+------+
|summary|               age|  workclass|            fnlwgt|   education|   educational-num|marital-status|      occupation|relationship|              race|gender|      capital-gain|     capital-loss|    hours-per-week|native-country|income|
+-------+------------------+-----------+------------------+------------+------------------+--------------+----------------+------------+------------------+------+------------------+-----------------+------------------+--------------+------+
|  count|             48842|      48842|             48842|       48842|             48842|         48842|           48842|       48842|             48842| 48842|             48842|            48842|             48842|         48842| 48842|
|   mean| 38.64358543876172|       null|189664.13459727284|        null|10.078088530363212|          null|            null|        null|              null|  null|1079.0676262233324|87.50231358257237|40.422382375824085|          null|  null|
| stddev|13.710509934443502|       null|105604.02542315764|        null| 2.570972755592251|          null|            null|        null|              null|  null| 7452.019057655418|403.0045521243594|12.391444024252284|          null|  null|
|    min|                17|          ?|             12285|        10th|                 1|      Divorced|               ?|     Husband|Amer-Indian-Eskimo|Female|                 0|                0|                 1|             ?| <=50K|
|    max|                90|Without-pay|           1490400|Some-college|                16|       Widowed|Transport-moving|        Wife|             White|  Male|             99999|             4356|                99|    Yugoslavia|  >50K|
+-------+------------------+-----------+------------------+------------+------------------+--------------+----------------+------------+------------------+------+------------------+-----------------+------------------+--------------+------+

# Creating dataframe

In [40]:
data = [("Davy","","Noel","36636","M",380000),
    ("Eliezer","Yannis","","40288","M",800000),
    ("Rolvy","","Dicken","42114","M",450000),
    ("Elvire","Degrace","Carine","39192","F",400000),
    ("Mercia","Kadi","Rolande","","F",100000)
  ]

schema = StructType([ \
    StructField("firstname",StringType(),True), \
    StructField("middlename",StringType(),True), \
    StructField("lastname",StringType(),True), \
    StructField("id", StringType(), True), \
    StructField("gender", StringType(), True), \
    StructField("salary (CFA)", IntegerType(), True) \
  ])
 
df_pyspark_ = spark.createDataFrame(data=data,schema=schema)
df_pyspark_.printSchema()
df_pyspark_.show(truncate=False)

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary (CFA): integer (nullable = true)

+---------+----------+--------+-----+------+------------+
|firstname|middlename|lastname|id   |gender|salary (CFA)|
+---------+----------+--------+-----+------+------------+
|Davy     |          |Noel    |36636|M     |380000      |
|Eliezer  |Yannis    |        |40288|M     |800000      |
|Rolvy    |          |Dicken  |42114|M     |450000      |
|Elvire   |Degrace   |Carine  |39192|F     |400000      |
|Mercia   |Kadi      |Rolande |     |F     |100000      |
+---------+----------+--------+-----+------+------------+

# Adding columns

In [42]:
df_pyspark_.withColumn('Salary perc. by million', df_pyspark_['salary (CFA)']/1e6).show()

+---------+----------+--------+-----+------+------------+-----------------------+
|firstname|middlename|lastname|   id|gender|salary (CFA)|Salary perc. by million|
+---------+----------+--------+-----+------+------------+-----------------------+
|     Davy|          |    Noel|36636|     M|      380000|                   0.38|
|  Eliezer|    Yannis|        |40288|     M|      800000|                    0.8|
|    Rolvy|          |  Dicken|42114|     M|      450000|                   0.45|
|   Elvire|   Degrace|  Carine|39192|     F|      400000|                    0.4|
|   Mercia|      Kadi| Rolande|     |     F|      100000|                    0.1|
+---------+----------+--------+-----+------+------------+-----------------------+

# Dropping columns

In [43]:
df_pyspark_.drop('Salary perc. by million')

DataFrame[firstname: string, middlename: string, lastname: string, id: string, gender: string, salary (CFA): int]

In [44]:
df_pyspark_.show()

+---------+----------+--------+-----+------+------------+
|firstname|middlename|lastname|   id|gender|salary (CFA)|
+---------+----------+--------+-----+------+------------+
|     Davy|          |    Noel|36636|     M|      380000|
|  Eliezer|    Yannis|        |40288|     M|      800000|
|    Rolvy|          |  Dicken|42114|     M|      450000|
|   Elvire|   Degrace|  Carine|39192|     F|      400000|
|   Mercia|      Kadi| Rolande|     |     F|      100000|
+---------+----------+--------+-----+------+------------+

# Renaming columns

In [46]:
df_pyspark_.withColumnRenamed('gender', 'sex').show()

+---------+----------+--------+-----+---+------------+
|firstname|middlename|lastname|   id|sex|salary (CFA)|
+---------+----------+--------+-----+---+------------+
|     Davy|          |    Noel|36636|  M|      380000|
|  Eliezer|    Yannis|        |40288|  M|      800000|
|    Rolvy|          |  Dicken|42114|  M|      450000|
|   Elvire|   Degrace|  Carine|39192|  F|      400000|
|   Mercia|      Kadi| Rolande|     |  F|      100000|
+---------+----------+--------+-----+---+------------+