<a href="https://colab.research.google.com/github/D-kn/Big-Data-Projects/blob/main/3_pyspark_DataFrame_Filter_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 37 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 53.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=2765dc2383433d2a1ccee38f931ec883df4f06011ba214eb24f4bf2639e81f50
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [2]:
# mount drive
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
cd '/content/drive/My Drive/Projets Codes/Datasets'

/content/drive/My Drive/Projets Codes/Datasets

In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType


spark=SparkSession.builder.appName('filterOperations').getOrCreate()

In [10]:
df=spark.read.csv("Titanic.csv", header=True, inferSchema=True)

In [11]:
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [29]:
# Age of people less than 18
df.filter("Age < 18").show()
# df.filter(df["Age"] < 18).show()

+-----------+--------+------+--------------------+------+----+-----+-----+-------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|       Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+-------------+-------+-----+--------+
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|       349909| 21.075| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|       237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|      PP 9549|   16.7|   G6|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|       350406| 7.8542| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|       382652| 29.125| null|       Q|
|         23|       1|     3|"McGowan, Miss. A...|female|15.0|    0|    0|       330923| 8.0292| null|       Q|
|         25|       0|     3|Palsson, Miss. To...|female| 8.0|    3|    1|       349909| 21.075| null|       S|
|         40|       1|     3|Nicola-Yarred, Mi...|female|14.0|    1|    0|         2651|11.2417| null|       C|
|         44|       1|     2|Laroche, Miss. Si...|female| 3.0|    1|    2|SC/Paris 2123|41.5792| null|       C|
|         51|       0|     3|Panula, Master. J...|  male| 7.0|    4|    1|      3101295|39.6875| null|       S|
|         59|       1|     2|West, Miss. Const...|female| 5.0|    1|    2|   C.A. 34651|  27.75| null|       S|
|         60|       0|     3|Goodwin, Master. ...|  male|11.0|    5|    2|      CA 2144|   46.9| null|       S|
|         64|       0|     3|Skoog, Master. Ha...|  male| 4.0|    3|    2|       347088|   27.9| null|       S|
|         69|       1|     3|Andersson, Miss. ...|female|17.0|    4|    2|      3101281|  7.925| null|       S|
|         72|       0|     3|Goodwin, Miss. Li...|female|16.0|    5|    2|      CA 2144|   46.9| null|       S|
|         79|       1|     2|Caldwell, Master....|  male|0.83|    0|    2|       248738|   29.0| null|       S|
|         85|       1|     2| Ilett, Miss. Bertha|female|17.0|    0|    0|   SO/C 14885|   10.5| null|       S|
|         87|       0|     3|Ford, Mr. William...|  male|16.0|    1|    3|   W./C. 6608| 34.375| null|       S|
|        112|       0|     3|Zabour, Miss. Hileni|female|14.5|    1|    0|         2665|14.4542| null|       C|
|        115|       0|     3|Attalah, Miss. Ma...|female|17.0|    0|    0|         2627|14.4583| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+-------------+-------+-----+--------+
only showing top 20 rows

+-----------+--------+------+--------------------+------+----+-----+-----+-------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|       Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+-------------+-------+-----+--------+
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|       349909| 21.075| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|       237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|      PP 9549|   16.7|   G6|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|       350406| 7.8542| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|       382652| 29.125| null|       Q|
|         23|       1|     3|"McGowan, Miss. A...|female|15.0|    0|    0|       330923| 8.0292| null|       Q|
|         25|       0|     3|Palsson, Miss. To...|female| 8.0|    3|    1|       349909| 21.075| null|       S|
|         40|       1|     3|Nicola-Yarred, Mi...|female|14.0|    1|    0|         2651|11.2417| null|       C|
|         44|       1|     2|Laroche, Miss. Si...|female| 3.0|    1|    2|SC/Paris 2123|41.5792| null|       C|
|         51|       0|     3|Panula, Master. J...|  male| 7.0|    4|    1|      3101295|39.6875| null|       S|
|         59|       1|     2|West, Miss. Const...|female| 5.0|    1|    2|   C.A. 34651|  27.75| null|       S|
|         60|       0|     3|Goodwin, Master. ...|  male|11.0|    5|    2|      CA 2144|   46.9| null|       S|
|         64|       0|     3|Skoog, Master. Ha...|  male| 4.0|    3|    2|       347088|   27.9| null|       S|
|         69|       1|     3|Andersson, Miss. ...|female|17.0|    4|    2|      3101281|  7.925| null|       S|
|         72|       0|     3|Goodwin, Miss. Li...|female|16.0|    5|    2|      CA 2144|   46.9| null|       S|
|         79|       1|     2|Caldwell, Master....|  male|0.83|    0|    2|       248738|   29.0| null|       S|
|         85|       1|     2| Ilett, Miss. Bertha|female|17.0|    0|    0|   SO/C 14885|   10.5| null|       S|
|         87|       0|     3|Ford, Mr. William...|  male|16.0|    1|    3|   W./C. 6608| 34.375| null|       S|
|        112|       0|     3|Zabour, Miss. Hileni|female|14.5|    1|    0|         2665|14.4542| null|       C|
|        115|       0|     3|Attalah, Miss. Ma...|female|17.0|    0|    0|         2627|14.4583| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+-------------+-------+-----+--------+
only showing top 20 rows

In [28]:
df.filter(df["Age"] > 30).select("Name").show()

+--------------------+
|                Name|
+--------------------+
|Cumings, Mrs. Joh...|
|Futrelle, Mrs. Ja...|
|Allen, Mr. Willia...|
|McCarthy, Mr. Tim...|
|Bonnell, Miss. El...|
|Andersson, Mr. An...|
|Hewlett, Mrs. (Ma...|
|Vander Planke, Mr...|
|Fynney, Mr. Joseph J|
|Beesley, Mr. Lawr...|
|Asplund, Mrs. Car...|
|Uruchurtu, Don. M...|
|Wheadon, Mr. Edwa...|
|Holverson, Mr. Al...|
|Ahlin, Mrs. Johan...|
|Harper, Mrs. Henr...|
|Ostby, Mr. Engelh...|
| Icard, Miss. Amelie|
|Harris, Mr. Henry...|
|Jenkin, Mr. Steph...|
+--------------------+
only showing top 20 rows

In [32]:
df.filter((df["Age"] <= 18) & (df["Age"] < 30)).select(["Name", "Ticket", "Survived"]).show()
# df.filter((df["Age"] <= 18) | (df["Age"] < 30)).select(["Name", "Ticket", "Survived"]).show()

+--------------------+-------------+--------+
|                Name|       Ticket|Survived|
+--------------------+-------------+--------+
|Palsson, Master. ...|       349909|       0|
|Nasser, Mrs. Nich...|       237736|       1|
|Sandstrom, Miss. ...|      PP 9549|       1|
|Vestrom, Miss. Hu...|       350406|       0|
|Rice, Master. Eugene|       382652|       0|
|"McGowan, Miss. A...|       330923|       1|
|Palsson, Miss. To...|       349909|       0|
|Vander Planke, Mi...|       345764|       0|
|Nicola-Yarred, Mi...|         2651|       1|
|Laroche, Miss. Si...|SC/Paris 2123|       1|
|Arnold-Franchi, M...|       349237|       0|
|Panula, Master. J...|      3101295|       0|
|West, Miss. Const...|   C.A. 34651|       1|
|Goodwin, Master. ...|      CA 2144|       0|
|Skoog, Master. Ha...|       347088|       0|
|Andersson, Miss. ...|      3101281|       1|
|Goodwin, Miss. Li...|      CA 2144|       0|
|Caldwell, Master....|       248738|       1|
| Ilett, Miss. Bertha|   SO/C 14885|       1|
|Ford, Mr. William...|   W./C. 6608|       0|
+--------------------+-------------+--------+
only showing top 20 rows

In [36]:
df.filter(~(df["Age"] <= 18) & (df["Age"] < 45)).select(["Name", "Ticket", "Survived", "Age"]).show()

+--------------------+----------------+--------+----+
|                Name|          Ticket|Survived| Age|
+--------------------+----------------+--------+----+
|Braund, Mr. Owen ...|       A/5 21171|       0|22.0|
|Cumings, Mrs. Joh...|        PC 17599|       1|38.0|
|Heikkinen, Miss. ...|STON/O2. 3101282|       1|26.0|
|Futrelle, Mrs. Ja...|          113803|       1|35.0|
|Allen, Mr. Willia...|          373450|       0|35.0|
|Johnson, Mrs. Osc...|          347742|       1|27.0|
|Saundercock, Mr. ...|       A/5. 2151|       0|20.0|
|Andersson, Mr. An...|          347082|       0|39.0|
|Vander Planke, Mr...|          345763|       0|31.0|
|Fynney, Mr. Joseph J|          239865|       0|35.0|
|Beesley, Mr. Lawr...|          248698|       1|34.0|
|Sloper, Mr. Willi...|          113788|       1|28.0|
|Asplund, Mrs. Car...|          347077|       1|38.0|
|Fortune, Mr. Char...|           19950|       0|19.0|
|Uruchurtu, Don. M...|        PC 17601|       0|40.0|
|Meyer, Mr. Edgar ...|        PC 17604|       0|28.0|
|Holverson, Mr. Al...|          113789|       0|42.0|
|Cann, Mr. Ernest ...|      A./5. 2152|       0|21.0|
|Ahlin, Mrs. Johan...|            7546|       0|40.0|
|Turpin, Mrs. Will...|           11668|       0|27.0|
+--------------------+----------------+--------+----+
only showing top 20 rows